<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <display-name>MoonShot</display-name>
  <description>
    MoonShot on the Web
  </description>

  <servlet>
    <servlet-name>PatientsServlet</servlet-name>
    <servlet-class>uk.ac.ucl.web.servlets.PatientsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PatientsServlet</servlet-name>
    <url-pattern>/patients</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>StatisticsServlet</servlet-name>
    <servlet-class>uk.ac.ucl.web.servlets.StatisticsServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>StatisticsServlet</servlet-name>
    <url-pattern>/statistics</url-pattern>
  </servlet-mapping>


</web-app>